<ion-header>
    <ion-toolbar>
        <ion-title>
            Card Decks
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <app-card-list *ngFor="let cardDeck of cardDecks"
                   [items]="cardDeck.types"
                   [listName]="cardDeck.name"
                   [navigateTo]="generateUrl">
    </app-card-list>
</ion-content>