<ion-tabs>

  <ion-tab tab="home">
    <ion-router-outlet name="card"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="about">
    <ion-router-outlet name="about"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="favorite">
    <ion-router-outlet name="favorite"></ion-router-outlet>
  </ion-tab>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home" href="/tabs/(card:card)">
      <ion-icon name="home"></ion-icon>
      <ion-label>Cards</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about" href="/tabs/(about:about)">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favorite" href="/tabs/(favorite:favorite)">
      <ion-icon name="flame"></ion-icon>
      <ion-label>Favorite</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
