<ion-header>
  <ion-toolbar>
    <ion-title>Favorite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="favoriteCards.length > 0">
    <ion-card *ngFor="let favoriteCard of favoriteCards">
      <ion-card-header text-wrap>
        <ion-card-subtitle>
          {{favoriteCard.cardSet}}
          <!--<ion-icon (click)="favoriteCard(card)" [ngClass]="card.favorite ? 'favorite' : 'normal'" name="flame" class="like-icon"></ion-icon>-->
        </ion-card-subtitle>
        <ion-card-title>
          {{favoriteCard.name}}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p [innerHTML]="favoriteCard.text"></p>
        <ion-button [href]="'tabs/(card:card/'+favoriteCard.cardId+')'" size="medium" expand="full">
          See Detail
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
