<ion-header>
    <ion-toolbar>
        <ion-title>{{card?.name}}</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="card && card.cardId">
    <ion-card>
        <img [src]="card.img" (error)="updateImage()">
        <ion-card-content>
            <ion-card-title>
                {{card?.name}}
            </ion-card-title>
            <p [innerHTML]="card?.text"></p>
            <p>{{card?.flavor}}</p>
            <ion-card-title>
                Stats
            </ion-card-title>
            <p *ngIf="card.health"><b>Health</b>{{card.health}}</p>
            <p *ngIf="card.attack"><b>Health</b>{{card.attack}}</p>
            <p *ngIf="card.faction"><b>Health</b>{{card.faction}}</p>
            <p *ngIf="card.type"><b>Health</b>{{card.type}}</p>
        </ion-card-content>
    </ion-card>
</ion-content>
