<ion-header>
  <ion-toolbar>
    <ion-title>{{cardDeckGroup}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <app-search (searchCompleted)="hydrateCards($event)"
              (searchStarted)="handleStartedSearch()"
              [items]="copyOfCards"
              [filteredProperty]="'name'"></app-search>

  <ion-spinner *ngIf="isLoading"></ion-spinner>
  <ion-list *ngIf="cards.length > 0">
    <ion-card *ngFor="let card of cards | slice:0:limit">
      <ion-card-header text-wrap>
        <ion-card-subtitle>
          {{card.cardSet}}
          <ion-icon (click)="favoriteCard(card)" [ngClass]="card.favorite ? 'favorite' : 'normal'" name="flame" class="like-icon"></ion-icon>
        </ion-card-subtitle>
        <ion-card-title>
          {{card.name}}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p [innerHTML]="card.text"></p>
        <ion-button [href]="'tabs/(card:card/'+card.cardId+')'" size="medium" expand="full">
          See Detail
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
